@font-face {
    font-family: MarkPro-Bold;
    src: url("../../fonts/MarkPro-Bold.otf");
}
.font-MarkPro{
    font-family: MarkPro-Bold;
}
small{
    font-family:Arial;
}
img{
    vertical-align: top;
}
input::-webkit-input-placeholder {
    color: #bbb;
} 
.div1{
    position: relative;
} 


.input-box{
    position: absolute;
    bottom: 1.2rem;
    left: 1.253rem;
    right: 1.293rem;
} 
.input-group{
    position: relative;
}
.input-group input[type=text], .input-group input[type=password] {
    width: 100%;
    height: 1.2rem;
    padding: 0 0.57rem;
    margin-bottom: 0.56rem;
    font-size:0.4rem;
    border: none;
    background-color: #fff;
    box-sizing: border-box;
} 
.input-group button{
    position: absolute;
    right: 0.66rem;
    top: 20%;
    color: #FFAB24;
    font-size:0.4rem;
    border:none;
    outline:none;
    -webkit-appearance: button;
    background-color: transparent;
}
.input-box .button-box{
    text-align: center;
    margin: 0.2rem 0 0.1rem;
}
.input-box .tip{
    color:#FFAB24;
    font-size:0.32rem;
    text-align:center;
}
ul,li{
    list-style: none;
}
.font-black{
    color:#2F2F2F;
}
.font-red {
    color: #D31B2D !important;
}
.text-size-9{
    font-size:0.24rem;
}
.text-size-16{
    font-size:0.426rem;
}
.text-size-15{
    font-size:0.4rem;
}
.text-size-13{
    font-size:0.36rem;
}
.text-size-12{
    font-size:0.32rem;
}

.custom-white-space-2{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.custom-white-space-1{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

.list-container{
    padding-top:0.6rem;
    text-align: center;
    background-color: #FFF6E8;
}
.list-container img.title-img{
    width:6.36rem;
}
.mui-table-view{
    overflow: hidden;
    width: 100%;
    padding: 0.33rem;
    background-color:transparent;
}
.mui-table-view:before,
.mui-table-view:after,
.mui-table-view-cell:after{
    height:0;
}
.mui-table-view li {
    margin-bottom: 0.133rem;
    font-size: 0.4rem;
    padding: 0.4rem 0.48rem !important;
    background-color: #fff;
}
.custom-flex {
    display: flex !important;
    box-sizing: border-box;
}
.custom-list-box {
    width: 100%;
}
.custom-list-box img {
    width: 2.8rem;
    height: 2.8rem;
    margin-right: 0.5rem;
}
.custom-list-box .custom-brand-info {
    position: relative;
    width: calc(10rem - 5rem);
    flex: 1;
    text-align: left;
}
.custom-list-box .custom-brand-info h3 {
    font-size: 0.373rem;
    line-height: 1.5;
    color: #2F2F2F;

    /* overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical; */
}

.custom-list-box .custom-gray {
    margin-top: 0.5rem;
    margin-bottom: 0.1rem;
}
.custom-list-box .font-red small{
    margin: 0 0.04rem;
}
.custom-list-box .font-red span {
    margin-right: 0.1rem;
    line-height: 1;
    font-size: 0.533rem;
}
.custom-list-box .position-bottom{
    position: absolute;
    bottom: 0;
}
.custom-list-box .position-bottom .badges-box{
    padding-top: 0.14rem;
}

.mui-badge {
    display: inline-block;
    width:1.186rem;
    height: 0.6rem;
    line-height: 0.6rem;
    margin-right: 0.2rem;
    color:#FF5F27;
    text-align: center;
    background-color:#FFF6E8;
    padding: 0;
    border-radius: 0;
}
.mui-toast-container{
    line-height:17px;
    position:fixed;
    z-index:9999;
    bottom:50%;
    left:50%;
    -webkit-transition:opacity .3s;
    transition:opacity .3s;
    -webkit-transform:translate(-50%,0);
    transform:translate(-50%,0);
    opacity:0;
}
.mui-toast-container.mui-active{
    opacity:.9
}
.mui-toast-message{
    font-size:14px;
    padding:10px 25px;
    text-align:center;
    color:#fff;
    border-radius:6px;
    background-color:#323232
}

.popup-container{
    display: flex;
    align-items: center;
    /* justify-content: center; */
    flex-direction: column;
    display: none;
    background: rgba(0, 0, 0, 0.5);              
    width: 10rem;
    height: 19.43rem;  
    padding-top: 3rem;            
    position:fixed;
    left:0;
    top:0;
}
.popup-container.mui-active{
    display: flex;
}
.popup-container .close-img{
    width:0.96rem;
    margin-top: 0.93rem;
}
.coupon-box{
    position: relative;
    width:7.306rem;
    height: 8.626rem;
    background:url(../../images/pmj/huodong3/coupon_bg.png) no-repeat;
    background-size:100% 8.186rem;
}
.coupon-box .coupon-img{
    position: absolute;
    bottom: 0;
    width:7.306rem;
    z-index: 99;
}

.coupon-box .mui-scroll-wrapper{
    bottom: 1.7rem;
}
.coupon-box .mui-scroll{
    width: 6.72rem;
    padding: 0.453rem 0 0.453rem 0.12rem;
    background-color: #FFF8ED;
    margin: 0 0.3rem;
    border-radius: 0.13rem;
}

.coupon-box .mui-scroll ul li{
    margin-bottom: 0.16rem;
}
.coupon-box .mui-scroll img{
    width:6.346rem;
    height:1.92rem;
}

.tip-container{
background-color: #FFF6E8;
}
.tip-container *{
    color:#BA7E3D;
}
.tip-container h4{
    padding: 0.1rem;
}

.tip-container ol{
    padding: 0.24rem 0.4rem 0.56rem 0.506rem;
    margin-left: 0.506rem;
}
.tip-container ol,
.tip-container li{
    list-style-type:decimal;
    list-style-position:outside;
}
.tip-container li{
    line-height: 1.8;
    font-size:0.373rem;
}
.mui-table-view li.mui-active,
.mui-table-view li.mui-active .custom-list-box{
    background-color: #fff;
}
.tip-container p{
    margin-top: 0.3rem;
    font-size:0.293rem;
}