@font-face {
    font-family: MarkPro-Bold;
    src: url("../../fonts/MarkPro-Bold.otf");
}

.font-MarkPro {
    font-family: MarkPro-Bold;
}

small {
    font-family: Arial;
}

img {
    vertical-align: top;
}

input::-webkit-input-placeholder {
    color: #bbb;
}

/* 提示弹框：分享、去浏览器 */
.tip-popup{
    background-color: rgba(0,0,0,0.8);
    z-index: 999;
}
.tip-popup img{
    width: 10%;
    position: absolute;
    right: 0.5rem;
    top: 0.4rem;
}
.tip-popup>div{
    height: 2rem;
    padding: 0.2rem;
    background-color: #fff;
    margin: 23% 0.6rem;
    border-radius: 0.3rem;
    font-size: 0.42rem;
}
.tip-popup>div span{
    font-size: 0.7rem;
}



.text-scroll-container {
    position: absolute;
    top: 0;
    width: 100%;
    height: 1.06rem;
    z-index: 100;
}

.text-scroll .mui-table-view-cell {
    background-color: transparent;
}

.text-scroll-container,
.text-scroll.mui-table-view {
    /* height: 1.06rem; */
    padding: 0;
    overflow: hidden;
}

.text-scroll.mui-table-view {
    position: absolute;
    width: 80%;
    left:50%;
    transform: translateX(-50%)
}

.text-scroll.mui-table-view li {
    height: 1.06rem;
    line-height: 1.06rem;
    padding: 0 !important;
    text-align: center;
    color: #fff;
    font-size: 0.32rem;
}


.container {
    background-color: #FFBE9D;
}

.container img.home-main {
    position: relative;
    top: -0.5rem;
}

.top-box {
    position: relative;
}

/* 悬浮按钮 */
img.suspend-btn {
    position: fixed;
    top: 5rem;
    width: 1.173rem;
    z-index:6;
}

.main-box {
    position: relative;
    overflow: hidden;
}

.main-box .list-container {
    transform: translatey(-0.8rem);
    background: url(../../images/bargain/main_2.png)  repeat-x;
    background-size: 100% 100%;
}
.main-box .list-container ul{
    padding: 0 0.33rem 0;
}
.main-box .list-container ul li:last-child{
    margin-bottom: 0.2rem;
}
.main-box footer{
    position: absolute;
    bottom: 0.4rem;
}
/*** 进度条 ***/

.progress-box {
    padding-top: 0.1rem;
    /* display: flex;
    align-items: center;
    justify-content: space-between; */
}

.progress-box>span {
    color: #787878;
    font-size: 0.293rem;
}

.progress {
    width: 3.68rem;
    height: 0.226rem;
    background: #FFD9C5;
    /* border-left: 1px solid transparent;
    border-right: 1px solid transparent; */
    border-radius: 10px;
    overflow: hidden;
}

.progress>span {
    position: relative;
    float: left;
    margin: 0 -1px;
    height: 0.22rem;
    background: #FD4845;
    border-radius: 10px;
    display: inline-block;
}

/* .progress>span>span {
    padding: 0 8px;
    font-size: 11px;
    font-weight: bold;
    color: #404040;
    color: rgba(0, 0, 0, 0.7);
    text-shadow: 0 1px rgba(255, 255, 255, 0.4);
} */

.bg-white {
    background-color: #fff;
}

.font-MarkPro {
    font-size: 0.866rem;
}

.font-black {
    color: #2F2F2F !important;
}

.font-yellow {
    color: #C5A05A;
}

.font-red {
    color: #FD4845 !important;
}

.font-pink {
    color: #F96A61;
}

.text-size-24 {
    font-size: 0.64rem;
}

.text-size-32 {
    font-size: 0.866rem;
}

.text-size-18 {
    font-size: 0.48rem;
}

.text-size-15 {
    font-size: 0.4rem;
}

.text-size-12 {
    font-size: 0.32rem;
}

.custom-white-space-2 {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}



.list-container img.title-img {
    width: 6.36rem;
}

.mui-table-view {
    overflow: hidden;
    width: 100%;
    padding: 0.33rem;
    background-color: transparent;
}

.mui-table-view:before,
.mui-table-view:after,
.mui-table-view-cell:after{
    height: 0;
}

.main-content .mui-table-view li {
    margin-bottom: 0.36rem;
    font-size: 0.4rem;
    padding: 0.4rem 0.466rem 0.4rem 0.373rem !important;
    box-shadow: 0px 1px 16px 0px rgba(247, 85, 81, 0.11);
    border-radius: 0.213rem;
}

.main-content .mui-table-view li,
.main-content .mui-table-view-cell>.mui-slider-handle {
    background-color: #FEFAF3;
}

.custom-flex,
.custom-flex-b {
    display: flex !important;
    box-sizing: border-box;
}

.custom-flex-c {
    display: flex !important;
    align-items: center;
    justify-content: center;
}

.custom-flex-b {
    align-items: center;
    justify-content: space-between;
}

.custom-list-box {
    width: 100%;
}

.custom-list-box img.custom-list-pic {
    width: 2.8rem;
    height: 2.8rem;
    margin-right: 0.37rem;
}

.custom-list-box .custom-brand-info {
    position: relative;
    width: calc(10rem - 5rem);
    flex: 1;
    text-align: left;
}

.custom-list-box .custom-brand-info h3 {
    font-size: 0.373rem;
    line-height: 1.5;
    color: #2F2F2F;

    /* overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical; */
}

.custom-list-box .custom-gray {
    margin-top: 0.5rem;
    margin-bottom: 0.1rem;
}

.custom-list-box .font-red small {
    margin: 0 0.04rem;
}

.custom-list-box .font-red span {
    position: relative;
    top: 0.03rem;
    margin-right: 0.1rem;
    line-height: 1;
    /* font-size: 0.866rem; */
}

.custom-list-box .position-bottom {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
}

.custom-list-box .position-bottom .mui-btn {
    border-radius: 999px;
    background-color: #FDBCA5;
    border: 0;
    color: #fff;
    width: 4.933rem;
    font-size: 0.4rem;
}

.bargain-box {
    margin-top: 0.2rem;
}

.bargain-box span.price {
    color: #787878;
}

.bargain-box span.price>small {
    font-size: 0.24rem;
}

.bargain-box span.price>span {
    font-size: 0.373rem;
}

.bargain-box img {
    width: 2.32rem;
    position: absolute;
    right: 0;
}

.bargain-price {
    transform: translateY(0.12rem);
}

.mui-toast-container {
    line-height: 17px;
    position: fixed;
    z-index: 9999;
    bottom: 50%;
    left: 50%;
    -webkit-transition: opacity .3s;
    transition: opacity .3s;
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    opacity: 0;
}

.mui-toast-container.mui-active {
    opacity: .9
}

.mui-toast-message {
    font-size: 14px;
    padding: 10px 25px;
    text-align: center;
    color: #fff;
    border-radius: 6px;
    background-color: #323232
}

.static{
    position:static !important;
}
/* ========== 认证成功弹出框  ===========*/
.mui-popup.authentication-popup{
    width:6.266rem;
}
.authentication-popup .mui-popup-inner{
    padding: 0.613rem 0.746rem 0.4rem;
    border-radius: 0.133rem 0.133rem 0 0;
}
.authentication-popup .mui-popup-inner .top img{
    width:2.4rem;
    vertical-align: top;
}
.authentication-popup .mui-popup-inner .top p{
    font-size:0.48rem;
}
.authentication-popup .mui-popup-text{
    margin-top: 0.3rem;
}
.authentication-popup .mui-popup-text p{
    font-size: 0.426rem;
    color: #2F3035;
    line-height: 1.7;
}
.authentication-popup .mui-popup-button{
    border: none;
}
.authentication-popup button.mui-popup-button:enabled:active{
    color:#FD4845;
    background-color:#fff;
}
/* =================================================  popup 消息框  ===================================================*/
.mui-popup.mui-popup-in {
    border-radius: 0.106rem;
}

.mui-popup-inner,
.mui-popup .mui-popup-button {
    border-radius: 0;
}

.mui-popup-title {
    font-size: 0.426rem;
}

.mui-popup-title+.mui-popup-text {
    color: #A6A6A6;
    font-size: 0.346rem;
    margin-top: 0.36rem;
}

.mui-popup-inner {
    padding: 0.64rem 0.7rem 0.6rem;
}

.mui-popup-buttons {
    height: 1.386rem;
}

.mui-popup .mui-popup-button {
    height: 1.386rem;
    line-height: 1.386rem;
    color: #666666;
    font-size: 0.4rem;
}

.mui-popup .mui-popup-button-bold {
    color: #FD4845;
}

/* =======================================================自定义popver 底部弹出框 =======================================================*/
.mui-popover.custom-popover .mui-card {
    box-shadow: 0 0 0;
}

.mui-popover.custom-popover .mui-table-view {
    background: #fff;
    padding: 0 0.4rem;
    color: #444;
    margin: 0;
}

.mui-popover.custom-popover .mui-card {
    margin: 0;
}

.mui-popover.custom-popover .mui-card-header {
    font-size: 0.453rem;
    padding: 0.533rem 0.16rem;
    font-weight: 700;
}

.mui-popover.custom-popover .mui-card-header .mui-icon {
    position: absolute;
    right: 0.3rem;
    top: 0.36rem;
    font-size: 0.9rem;
    color: #444;
    font-weight: 700;
}

.mui-popover.custom-popover .mui-card-header:after {
    background-color: #f5f5f5;
}

.mui-popover.custom-popover .mui-table-view.mui-grid-view .mui-table-view-cell {
    display: block;
}

.mui-popover.custom-popover .mui-card-content-inner {
    padding: 0;
    overflow: hidden;
}

.mui-popover.custom-popover .mui-card-content-inner .content-wrapper {
    max-height: 10rem;
    min-height: 5.3rem;
    overflow-y: auto;
}


.mui-popover.custom-popover .mui-scroll-wrapper,
.mui-popover.custom-popover.mui-popover.custom-popover-action .mui-table-view,
.mui-popover.custom-popover.mui-popover.custom-popover-action .mui-table-view.mui-grid-view .mui-table-view-cell {
    margin: 0;
}






/* 登录 */
.mui-popover.custom-popover .mui-card-header:after {
    background-color: #fff;
}

.mui-popover.custom-popover .mui-card-header .login {
    width: 100%;
}

.mui-popover.custom-popover .mui-card-header .login img {
    width: 7.33rem;
}

.input-box {
    padding: 0 0.8rem 0.6rem;
    /* position: absolute;
    bottom: 1.2rem;
    left: 1.253rem;
    right: 1.293rem; */
}

.input-group {
    position: relative;
    margin: 0 0.346rem 0.54rem;
    border-bottom: 1px solid #f5f5f5;
}

.input-group input[type=text],
.input-group input[type=password] {
    width: 100%;
    height: 1.2rem;
    padding: 0;
    margin-bottom: 0;
    font-size: 0.4rem;
    border: none;
    background-color: #fff;
    box-sizing: border-box;
}

.input-group button {
    position: absolute;
    right: 0.66rem;
    top: -0.08rem;
    padding: 0.4rem 0;
    font-size: 0.4rem;
    border: none;
    outline: none;
    -webkit-appearance: button;
    background-color: transparent;
}

.input-box .button-box {
    text-align: center;
    padding-top: 0.4rem;
    /* margin: 0.2rem 0 0.26rem; */
}

.input-box .tip {
    font-size: 0.32rem;
    text-align: center;
}


.tip-container {
    /* padding-top: 0.66rem; */
    background-color: #FFBE9D;
}

.tip-container * {
    color: #D06333;
}

.tip-container h4 {
    padding: 0.1rem;
}

.tip-container ol {
    padding: 0.24rem 0.4rem 0.56rem 0.506rem;
    margin-left: 0.506rem;
}

.tip-container ol,
.tip-container li {
    list-style-type: decimal;
    list-style-position: outside;
}

.tip-container li {
    line-height: 1.8;
    font-size: 0.373rem;
}

.tip-container p {
    margin-top: 0.3rem;
    font-size: 0.293rem;
}


/* 砍价详情页面 */

.custom-card-info {
    display: flex;
    align-items: center;
    padding: 0.5rem 0.533rem 0.14rem;
    /* position: absolute;
    left: 0.533rem;
    right: 0;
    top: 0.5rem; */

}

.custom-card-info img {
    width: 1.2rem;
    height: auto;
    margin-right: 0.426rem;
    border-radius: 50%;
}

.custom-card-info h4 {
    color: #fff;
    font-size: 0.506rem;
}

.custom-card-info p {
    margin-top: 0.1rem;
    font-size: 0.32rem;
    color: #fff;
}

.bargin-detail .mui-card {
    margin: 0.3rem 0.466rem 0.49rem;
    background: rgba(255, 250, 250, 1);
    ;
    box-shadow: 0px 0px 0.32rem 0px rgba(247, 85, 81, 0.15);
    border-radius: 0.293rem;
}

.bargin-detail .mui-card-header {
    padding: 0.48rem;
}

.bargin-detail .mui-card-header:after {
    height: 0;
}

.bargin-detail .skill-timer {
    width: 5.466rem;
    height: 1.066rem;
    margin: auto;
    color: #535252;
    font-size: 0.373rem;
    background: rgba(255, 255, 255, 1);
    box-shadow: 0px 0px 0.28rem 0px rgba(247, 85, 81, 0.04);
    border-radius: 0.093rem;
}

.bargin-detail .skill-timer .time span {
    background-color: #FE5751;
    color: #fff;
    display: inline-block;
    width: 0.64rem;
    height: 0.533rem;
    text-align: center;
    border-radius: 0.053rem;
    margin: 0 0.12rem;
}

.bargin-detail .mui-card-content {
    padding: 0 0.3rem 0.3rem;
}

.bargin-detail .mui-card-content .mui-table-view {
    padding: 0;
}

.bargin-detail .custom-list-box img.custom-list-pic.failed {
    position: absolute;
    width: 2.48rem;
    height: 2.48rem;
    margin-left: 0.16rem;
    margin-top: 0.16rem;
}

.bargin-detail .custom-list-box img.custom-list-pic {
    margin: 0;
}

.bargin-detail .mui-table-view li,
.bargin-detail .mui-table-view-cell>.mui-slider-handle {
    background-color: #fff;
    padding: 0 !important;
    border-radius: 0;
    box-shadow: 0 0 0 !important;
}

.bargin-detail .custom-list-box .custom-brand-info {
    padding: 0.32rem 0.24rem !important;
}

.bargin-detail .bargain-price {
    transform: translateY(0);
}

.bargin-detail .custom-list-box .position-bottom {
    bottom: 0.24rem;
    left: 0.2rem;
    right: 0.24rem;
}

.bargin-detail .mui-card-content .list-container+.progress-box .progress>span,
.bargin-detail .mui-card-content .list-container+.progress-box .progress {
    height: 0.39rem;
}

.bargin-detail .mui-card-content .list-container+.progress-box .progress {
    margin: 0.22rem 0 0.54rem;
}

.bargin-detail .mui-card-content .list-container+.progress-box .progress p {
    font-size: 0.4rem;
    line-height: 1.8;
}

.bargin-detail .mui-card-content .progress {
    width: 100%;
}

.bargin-detail .mui-card-content .progress-box p {
    color: #2F2F2F;
}

.bargin-detail .link-home {
    margin-top: 0.173rem;
}

/* 砍价榜单 */
.bargin-detail .text-scroll.mui-table-view li {
    height: 0.8rem;
    margin: 0 !important;
}

.bargin-detail img.suspend-btn {
    top: 4.6rem;
}

.bargin-detail .mui-card.billboard .mui-card-header {
    background-color: #EF3F36;
    color: #fff;
    height: 1.04rem;
    padding: 0;
    min-height: auto;
    font-size: 0.133rem;
}

.bargin-detail .mui-card.billboard .mui-card-content {
    height: 4.746rem;
}

.bargin-detail .mui-card.billboard .mui-content {
    background: rgba(255, 250, 250, 1);
}

.bargin-detail .mui-card.billboard .mui-scroll {
    padding: 0 0.4rem 0.3rem;
}

.bargin-detail .mui-card.billboard li {
    margin-top: 0.36rem;
    background-color: transparent;
}

.bargin-detail .mui-card.billboard .custom-list-pic {
    width: 0.72rem;
    height: auto;
    border-radius: 50%;
}

/* 多个砍价商品 */
.bargin-more.bargin-detail .mui-table-view li {
    margin-bottom: 0.1rem;
}

.bargin-more.bargin-detail .mui-card-content .progress-box p {
    margin-top: 0.2rem;
    font-size: 0.36rem;
}


/* 砍价成功弹框 */
.success-popup.mui-popup.mui-popup-in {
    width: 6.533rem;
}

.success-popup .mui-popup-inner {
    padding: 0 0.693rem 0.38rem;
    border-radius: 0.346rem;
}

.success-popup .popup-close {
    width: 0.96rem;
    height: 0.96rem;
    margin-top: 0.56rem;
}

.success-popup img.flag {
    width: 1.733rem;
    margin-bottom: 0.3rem;
}

.success-popup .text {
    margin-bottom: 0.1rem
}

.success-popup .text p {
    padding-top: 0.18rem;
}

.success-popup .popup-btn {
    width: 4.2rem;
    margin-top: 0.22rem;
}


/* 地址弹框 */
.mui-popover.mui-popover-action .address-box .mui-table-view .mui-table-view-cell:after {
    background-color: #eee;
}
.mui-popover.custom-popover .address-box .mui-table-view{
    padding: 0 0.56rem;
}
.address-box .mui-card-header{
    padding: 0.4rem;
    justify-content: center;
    border-bottom: 1px solid #eee;
}
.address-box .mui-radio label,
.address-box .mui-table-view li {
    background-color: #fff;
    padding: 0;
}
.address-box .mui-checkbox input[type=checkbox], .mui-radio input[type=radio] {
    top: 0.58rem;
    right: 0;
    text-align: right;
}
.address-box .mui-radio input[type=radio]:checked:before {
    content: '\e442';
}
.address-box .mui-radio input[type=radio]:checked:before {
    color: #FF5751;
}
.address-box .mui-radio input[type=radio]:before {
    color: #d5d5d5;
    font-size:0.7rem;
}
.address-box .mui-table-view {
    background-color: transparent;
}

.address-box .mui-table-view-cell p {
    padding-top: 0.4rem;
}

.address-box .mui-table-view li .address-content {
    position: relative;
    padding: 0.34rem 0;
}

.address-box .mui-table-view li .address-content span {
    margin-right: 0.3rem;
}
.to-addaddress{
    height:3.733rem;
}