/*定义滚动条高宽及背景 高宽分别对应横竖滚动条的尺寸*/
::-webkit-scrollbar {
    width: 0px;
    height: 0px;
    background-color: #F5F5F5;
}

/*定义滚动条轨道 内阴影+圆角*/
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 1px rgba(0, 0, 0, 0);
    border-radius: 10px;
    background-color: #F5F5F5;
}

/*定义滑块 内阴影+圆角*/
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: #555;
}

textarea {
    -webkit-appearance: none;
}


.empty img {
    width: 4.986rem;
    height: 4.933rem;
}
.custom-flex{
    align-items: center;
    justify-content: center;
}

.margin-h-26 {
    margin: 0 0.24rem;
}

.margin-l-26 {
    margin-left: 0.24rem;
}

.bg-gray {
    background-color: #f5f5f5;
}


.custom-page-nav{
    height: auto !important;
}
.message li {
    margin-bottom: 0.3rem;
}

.message li p+div {
    overflow: hidden;
}

.message .time {
    margin: 0.2rem 0;
    text-align: center;
}

.message .time>span {
    display: inline-block;
    padding: 0 0.2rem;
    font-size: 0.34rem;
    color: #b2b2b2;
}

.message .avatar-box {
    width: 1.24rem;
    height: 1.24rem;
    float: left;
    margin: 0 0.3rem;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

.message .avatar-box+.image {
    float: left;
}

.message .avatar-box+.image .chat-panel-message-img {
    width: 100%
}

.message .avatar-box img {
    height: 100%;
}

.message .text {
    display: inline-block;
    position: relative;
    padding: 0.3rem 0.4rem;
    max-width: 63%;
    min-height: 30px;
    text-align: left;
    word-break: break-all;
    background-color: #fff;
    border-radius: 4px;
}

.message .text p {
    line-height: 1.6;
    font-size: 0.4rem;
    color: #000;
}

.message .text:before {
    content: " ";
    position: absolute;
    top: 9px;
    right: 100%;
    border: 4px solid transparent;
    border-right-color: #fff;
}

.mui-bar {
    box-shadow: 0 0 2px rgba(0, 0, 0, .2);
}

.action {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #ddd;
}

.action textarea,
.action input {
    height: 0.98rem;
    font-size: 0.4rem;
    padding: 0.2rem;
    margin-bottom: 0;
    border: 1px solid #ddd;
}

.action .mui-btn {
    top: 0;
    margin-right: 0.2rem;
}

.action .mui-icon-plus {
    font-size: 0.9rem;
}

.message .self {
    text-align: right;
}

.message .self .avatar-box,
.message .self .image {
    float: right;
}

.message .self .text {
    background-color: #fceac8;
}

.message .self .text:before {
    right: inherit;
    left: 100%;
    border-right-color: transparent;
    border-left-color: #fceac8;
}

*:before,
*:after {
    box-sizing: inherit;
}

.menu-showed,
.room-panel-message-input {
    height: 5.9rem;
}
.room-panel-message-input{
    padding-top: 0.4rem;
}


.room-panel-message-input label {
    position: relative;
    float: left;
    width: 1.7rem;
    margin-bottom: 0.1rem;
}
.room-panel-message-input label img{
    width: 100%;
}
.room-panel-message-input .room-panel-item {
    width: 1.7rem;
    overflow: hidden;
    text-align: center;
    margin-left: 0.4rem;
}

.room-panel-message-input .room-panel-item p {
    margin-top: 0.1rem;
    font-size: 0.32rem;
    color: #8f8f94;
}

.room-panel-message-input input {
    position: absolute;
    display: block;
    opacity: 0;
    width: 100%;
    height: 100%;
}

.mui-scroll-wrapper{
    padding-bottom: 60px;
}
.mui-bar{
    background-color: #f5f5f5;
}
.custom-page-nav{
    height: auto;
}
.custom-list-box {
    padding: 0.14rem;
}
.custom-list-box .custom-brand-info{
    padding:0;
}
.custom-list-box .custom-brand-info h4{
    font-size: 0.34rem;
}
.custom-list-box .custom-list-pic{
    width: 1.3rem !important;
    height: auto;
    border: 1px solid #f5f5f5;
}
.custom-brand-info .custom-brand-price {
    margin-top: 0.4rem;
    font-size: 0.46rem;
    line-height: 1;
}
.custom-brand-price span{
    font-size:0.34rem;
}


.mask-box {
    position: fixed;
    top: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    z-index: 2;
    display: none;
}
.mui-bar .mui-icon{
    width: 0.8rem;
}
.empty{
    z-index: 9;
    width: 100%;
    position: fixed;
    background-color: #f5f5f5;
    height: 91%;
    display:none;
}
.empty img{
    width:50%;
}
.mui-loading{
    padding: 1rem;
}









/* modal */

.animated {
    -webkit-animation-duration: 0.2s;
    animation-duration: 0.2s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
@-webkit-keyframes bounceInUp {
    0%, 50%, 100% {
        -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    }
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
    }
    50% {
        opacity: 1;
        -webkit-transform: translate3d(0, 5px, 0);
        transform: translate3d(0, 5px, 0);
    }
    100% {
        -webkit-transform: none;
        transform: none;
    }
}
@keyframes bounceInUp {
    0%, 50%, 100% {
        -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    }
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
    }
    50% {
        opacity: 1;
        -webkit-transform: translate3d(0, 5px, 0);
        transform: translate3d(0, 5px, 0);
    }
    100% {
        -webkit-transform: none;
        transform: none;
    }
}
.bounce-in-up {
    -webkit-animation-name: bounceInUp;
    animation-name: bounceInUp;
}

@-webkit-keyframes fadeInUp {
    0%, 50%, 100% {
        -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    }
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
    }
    50% {
        opacity: 1;
        -webkit-transform: translate3d(0, 0px, 0);
        transform: translate3d(0, 0px, 0);
    }
    100% {
        -webkit-transform: none;
        transform: none;
    }
}
@keyframes fadeInUp {
    0%, 50%, 100% {
        -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    }
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
    }
    50% {
        opacity: 1;
        -webkit-transform: translate3d(0, 0px, 0);
        transform: translate3d(0, 0px, 0);
    }
    100% {
        -webkit-transform: none;
        transform: none;
    }
}
.fade-in-up {
    -webkit-animation-name: fadeInUp;
    animation-name: fadeInUp;
}

@-webkit-keyframes bounceOutDown {
    20% {
        -webkit-transform: translate3d(0, -10px, 0);
        transform: translate3d(0, -10px, 0);
    }

    40%,
    45% {
        opacity: 1;
        -webkit-transform: translate3d(0, 20px, 0);
        transform: translate3d(0, 20px, 0);
    }

    100% {
        opacity: 0;
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
    }
}

@keyframes bounceOutDown {
    20% {
        -webkit-transform: translate3d(0, -10px, 0);
        transform: translate3d(0, -10px, 0);
    }

    40%,
    45% {
        opacity: 1;
        -webkit-transform: translate3d(0, 20px, 0);
        transform: translate3d(0, 20px, 0);
    }

    100% {
        opacity: 0;
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
    }
}

.bounce-out-down {
    -webkit-animation-name: bounceOutDown;
    animation-name: bounceOutDown;
}

@-webkit-keyframes fadeOutDown {
    20% {
        -webkit-transform: translate3d(0, 0px, 0);
        transform: translate3d(0, 0px, 0);
    }

    40%,
    45% {
        opacity: 1;
        -webkit-transform: translate3d(0, 0px, 0);
        transform: translate3d(0, 0px, 0);
    }

    100% {
        opacity: 0;
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
    }
}

@keyframes fadeOutDown {
    20% {
        -webkit-transform: translate3d(0, 0px, 0);
        transform: translate3d(0, 0px, 0);
    }

    40%,
    45% {
        opacity: 1;
        -webkit-transform: translate3d(0, 0px, 0);
        transform: translate3d(0, 0px, 0);
    }

    100% {
        opacity: 0;
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
    }
}

.fade-out-down {
    -webkit-animation-name: fadeOutDown;
    animation-name: fadeOutDown;
}

.menu-backdrop {
    display: none;
}

.menu-open .menu-backdrop {
    position: fixed;
    top: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    display: block;
    z-index: 2;
}

.menu-wrapper {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 999;
    text-align: center;
    background-color: #f5f5f5;
    width: 100%;
}

.menu-wrapper.hidden {
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
    z-index: -1;
}

.menu-wrapper.mui-active,
.menu-wrapper.mui-active .menu {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}



/* 图片预览 */

.mui-preview-image.mui-fullscreen {
    position: fixed;
    z-index: 999;
    background-color: #000;
}

.mui-preview-header,
.mui-preview-footer {
    position: absolute;
    width: 100%;
    left: 0;
    z-index: 10;
    display: none;
}

.mui-preview-header .mui-preview-indicator {
    display: block;
    line-height: 25px;
    color: #fff;
    text-align: center;
    margin: 15px auto 4;
    width: 70px;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 12px;
    font-size: 16px;
}

.mui-preview-image {
    display: none;
    -webkit-animation-duration: 0.5s;
    animation-duration: 0.5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.mui-preview-image.mui-preview-in {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
}

.mui-preview-image.mui-preview-out {
    background: none;
    -webkit-animation-name: fadeOut;
    animation-name: fadeOut;
}

.mui-preview-image.mui-preview-out .mui-preview-header,
.mui-preview-image.mui-preview-out .mui-preview-footer {
    display: none;
}

.mui-zoom-scroller {
    position: absolute;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    -webkit-backface-visibility: hidden;
}

.mui-zoom {
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.mui-slider .mui-slider-group .mui-slider-item img {
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
}

.mui-android-4-1 .mui-slider .mui-slider-group .mui-slider-item img {
    width: 100%;
}

.mui-android-4-1 .mui-slider.mui-preview-image .mui-slider-group .mui-slider-item {
    display: inline-table;
}

.mui-android-4-1 .mui-slider.mui-preview-image .mui-zoom-scroller img {
    display: table-cell;
    vertical-align: middle;
}

.mui-preview-loading {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: none;
}

.mui-preview-image img.mui-transitioning {
    -webkit-transition: -webkit-transform 0.5s ease, opacity 0.5s ease;
    transition: transform 0.5s ease, opacity 0.5s ease;
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-webkit-keyframes fadeOut {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}